html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Manrope', sans-serif;
    margin: 0 auto;
    min-width: 1400px;
    background: #F5F5F5;
    letter-spacing: -0.03em;
}

.container {
    margin: 0px auto;
    width: 1400px;
    background-color: #ffffff;
    padding-bottom: 149px;
}


.interior {
    width: 1150px;
    height: 500px;
    background-image: url(../resources/interior.png);
    background-size: contain;
    background-repeat: no-repeat;
    margin-left: 115px;
}

h1 {
    width: 956px;
    height: 120px;
    font-style: normal;
    font-weight: 400;
    font-size: 60px;
    line-height: 60px;
    color: #121212;
    padding-top: 128px;
    margin-left: 115px;
    padding-bottom: 32px;
    margin-top: 128px;
}

h2 {
    height: 25px;
    width: 51px;
    padding-top: 100px;
    padding-left: 125px;
    text-transform: uppercase;
}

h3 {
    height: 41px;
    width: 542px;
    padding-left: 125px;
    margin-bottom: 15px;
    font-size: 30px;
    line-height: 41px;

}

h1,
h2,
h3 {
    color: #121212!important;
    letter-spacing: -0.03em;
}

.section {
    padding: 150px 125px 0 125px;
}
.image-text {
    position: absolute;
    width: 430px;
    height: 81px;
    color: #FFFFFF;
    padding-left: 40px;
    padding-top: 380px;
    font-weight: 400;
    font-size: 20px;
    line-height: 27px;
    letter-spacing: -0.03em;
}

p.description {
    Width: 1048px;
    Height: 366px;
    padding-top: 30px;
    padding-left: 125px;
    font-size: 45px;
    font-weight: 400;
    line-height: 61.47px;
    letter-spacing: -0.03em;
}

a.btn {
    display: table;
    margin-left: 125px;
    margin-top: 30px;
    padding: 20px 40px;
    cursor: pointer;
    text-decoration: none;
    background-color: #AD1818;
    border-radius: 5px;
    border: none;
    color: #ffffff
}

.project__image {
    padding-left: 125px;
    margin-top: 10px;
    margin-bottom: 15px;
}

.project__title {
    margin-top: 15px;
}

.projects .project {
    margin-top: 90px;
}

.projects :nth-last-child(3) {
    margin-top: 10px;
}


.project__link {
    font-size: 20px;
    line-height: 27px;
    letter-spacing: -0.03em;
    color: #AD1818;
    text-decoration: none;
    padding-left: 125px;
    margin-bottom: 15px;
}

.fullwidtbtn {
    display: block;
    width: 1157px;
    height: 153px;
    margin-left: 125px;
    line-height: 153px;
    border: 1px solid #AD1818;
    border-radius: 5px;
    text-decoration: none;
    text-align: center;
    color: #AD1818;
    font-size: 30px;
    letter-spacing: -0.03em;
}

.fullwidtbtn:hover {
    background-color: #AD1818;
    color: #FFFFFF;
}

.section-long {
    padding-bottom: 150px;
}

.section-black {
    background-color: #000;
    height: 1500px;
}

.section-black h1,
h2,
h3 {
    color: #fff!important
}

.services__image {
    Width: 1150px;
    Height: 270px;
    margin:auto;
    margin-bottom: 15px;
}

.services {
    margin-top: 34px;

}

.services .service {
    margin-top: 60px;
}